{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<!-- <link rel="stylesheet" href="style.css" /> -->
		<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'css/style.css' %}" />
		<title>Inferno News</title>
		<script type="text/javascript"></script>
    </head>
    <body>
		<header>
			<h1><a href="index.html">Inferno News</a></h1>
			<!-- <span id="version"></span> -->
			<nav>
				<ul>
					<!-- <li><a href="index.html" class="current">Home</a></li> -->
					<li><a href="local">Local</a></li>
      				<li><a href="sports">Sports</a></li>
      				<li><a href="science">Science</a></li>
      				<li><a href="business">Business</a> </li>
				</ul>
			</nav>
		</header>
		<!-- <div id="adbanner">
			<div id="ad">
				<a href="#"><p>Advertise Here</p></a>
			</div>
		</div> -->
		<br><br><br><br><br><br><br><br>
		<div id="secwrapper">
			<section>
				{% for news in all_news %}
				<article id="featured">
					<!-- <a href="#"><img src="images/2.jpg" alt=""/></a> -->
					<img height="150" width="200" src="{{news.urlToImage}}"> 
					<h3>{{news.title}}</h3>
					<p>{{news.short_description}}</p>
					<a href="{{ news.url }}" class="readmore">Read more</a><br><br><br><br>
					<h5>{{news.publishedAt|date}} | Author : {{news.author}}</h5>
				</article>
				{% endfor %}
			</section>
		</div>
		<footer>
			<p></p>
		</footer>
	</body>
</html>
		
		
			
    
    