{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Inferno News</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'css/skin.css' %}" />
<script type="text/javascript">
</script>
</head>
<body>
<div class="main">
  <div id="header" class="box">
    <h1 id="logo">Inferno News</h1>
    <h4 id="category">Source : {{news.source_id}}</h4>
    <ul id="nav">
      <li><a href="local">Local</a></li>
      <li><a href="sports">Sports</a></li>
      <li><a href="science">Science</a></li>
      <li><a href="business">Business</a> </li>
    </ul>
  </div>

  <div id="section" class="box">
    <div id="content">
      <ul class="articles box">
        {% for news in all_news %}
        <li>
          <h3>{{news.title}}</h3>
          <div class="f-left">{{news.publishedAt|date}} | Posted by {{news.author}} </div>
          <div class="article-info box">
            <br>
            <!-- <img height="150" width="200" src="{{news.urlToImage}}">  -->
            <p>{{news.short_description}}</p>
            <br>
            <p class="more"><a href="{{ news.url }}">Read more &raquo;</a></p>
          </div>    
        </li>
        {% endfor %}      
      </ul>
      <div class="pagination box"></div>
  </div>
  <!-- <div id="footer">
    <div class="main box"></div>
  </div> -->
</div>
</body>
</html>
