{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8" />
		<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'css/profile.css' %}" />		
		<title>Inferno News</title>
		<script type="text/javascript"></script>
    </head>
    <body background="{% static 'imgs/bg2.jpg' %}">
            
		<header>
			<h1><a href="local">Inferno News</a></h1>
			<nav>				
				<ul id="navelements">
					<div class="loginsignup">
					{% block content %}
						{% if user.is_authenticated %}
							<li class="username"><a  href="#">Welcome, {{ user.username }}</a></li>
							<li class="loginsignup"><a  href="{% url 'logout' %}">Logout</a></li>
						{% endif %}
					{% endblock %}
					</div>
				</ul>
			</nav>
        </header>
        
        
        <div class="category-source">
            <h4>Select news sources  of your choice from the different categories :-</h4><br>
            <form  action="#" method="post">
                <div class="category_name">
                    <h5>Local</h5>
                    {%  for l in local %}
                    <div class="source_name">
                        <!-- <label class="source_checkbox">  
                                <h6>{{l.source_id}}</h6>                         
                            <input type="checkbox">                           
                            <span class="custom_checkmark"></span> 
                        </label> -->
                        
                            <label class="source_checkbox">
                                <h6>{{l.source_id}}</h6>
                                {% if l.source_id in selected_sources%}
                                    <input id="important" type="checkbox" checked onclick='markSource("{{l.source_id}}")'>
                                {% else %}
                                    <input id="important" type="checkbox" onclick='markSource("{{l.source_id}}")'>
                                {% endif %}
                                <span class="custom_checkmark"></span>
                            </label>
                        
                    </div>  
                    {% endfor %}
                </div>
                <div class="category_name">
                    <h5>Sports</h5>
                    {%  for l in sports %}
                    <div class="source_name">                    
                        <!-- <label class="source_checkbox">   
                            <h6>{{l.source_id}}</h6> 
                            <input type="checkbox">                          
                            <span class="custom_checkmark"></span> 
                        </label> -->
                        
                            <label class="source_checkbox">
                                <h6>{{l.source_id}}</h6>
                                {% if l.source_id in selected_sources%}
                                    <input id="important" type="checkbox" checked onclick='markSource("{{l.source_id}}")'>
                                {% else %}
                                    <input id="important" type="checkbox" onclick='markSource("{{l.source_id}}")'>
                                {% endif %}
                                <span class="custom_checkmark"></span>
                            </label>
                        
                    </div>  
                    {% endfor %}
                </div>
                <div class="category_name">
                    <h5>Science</h5>
                    {%  for l in science %}
                    <div class="source_name">
                        <!-- <label class="source_checkbox">    
                            <h6>{{l.source_id}}</h6>                       
                            <input type="checkbox">                          
                            <span class="custom_checkmark"></span> 
                        </label> -->
                        
                            <label class="source_checkbox">
                                <h6>{{l.source_id}}</h6>
                                {% if l.source_id in selected_sources%}
                                    <input id="important" type="checkbox" checked onclick='markSource("{{l.source_id}}")'>
                                {% else %}
                                    <input id="important" type="checkbox" onclick='markSource("{{l.source_id}}")'>
                                {% endif %}
                                <span class="custom_checkmark"></span>
                            </label>
                        
                    </div>  
                    {% endfor %}
                </div>
                <div class="category_name">
                    <h5>Technology</h5>
                    {%  for l in tech %}
                    <div class="source_name">                      
                        <!-- <label class="source_checkbox">   
                            <h6>{{l.source_id}}</h6>                        
                            <input type="checkbox">                           
                            <span class="custom_checkmark"></span> 
                        </label> -->
                        
                            <label class="source_checkbox">
                                <h6>{{l.source_id}}</h6>
                                {% if l.source_id in selected_sources%}
                                    <input id="important" type="checkbox" checked onclick='markSource("{{l.source_id}}")'>
                                {% else %}
                                    <input id="important" type="checkbox" onclick='markSource("{{l.source_id}}")'>
                                {% endif %}
                                <span class="custom_checkmark"></span>
                            </label>
                       
                    </div>  
                    {% endfor %}
                </div>  
                <div class="category_name">
                    <h5>Business</h5>
                    {%  for l in business %}
                    <div class="source_name">                       
                        <!-- <label class="source_checkbox">   
                            <h6>{{l.source_id}}</h6>                        
                            <input type="checkbox">
                            <span class="custom_checkmark"></span> 
                        </label> -->
                        
                            <label class="source_checkbox">
                                <h6>{{l.source_id}}</h6>
                                {% if l.source_id in selected_sources%}
                                    <input id="important" type="checkbox" checked onclick='markSource("{{l.source_id}}")'>
                                {% else %}
                                    <input id="important" type="checkbox" onclick='markSource("{{l.source_id}}")'>
                                {% endif %}
                                <span class="custom_checkmark"></span>
                            </label>
                        
                    </div>  
                    {% endfor %}
                </div>  

                <!-- <div class="savebtn">
                    <input type="submit" value="Save / Update">
                </div>          -->
                <br><br><br><br><br><br><br><br>
            </form>
        </div>

		<div id="secwrapper">
            <h3>Bookmared news :-</h3><br>
			<section>
                {% for news in marked_news %}
                <a  href="{{ news.news_id.url }}" class="imglink" >
                    <article id="featured">
                        <img height="160" width="420" src="{{news.news_id.urlToImage}}"><br>
                        <br>
                        <h6>{{news.news_id.title}}</h6><br>
                        <h5>{{news.news_id.publishedAt|date}}</h5><br>
                        {% if user.is_authenticated %}
                        <form action="/profile" method="GET">                          
                            <label class="container">
                                <input type="hidden" name='news' value="{{news.news_id.news_id}}">
                                <input id="removebtn" type="submit" value="Remove">
                            </label>                           
                        </form>
                        {% endif %}
                    
                    </article>
                </a>
                {% endfor %}
			</section>
        </div>
        <script>
            function markSource(sid) {
            var xhttp = new XMLHttpRequest();
            var url = "select/"+sid;
            //console.log(data.value)
            //console.log(sid);
            console.log(url);
            xhttp.open("GET", url, true);
            xhttp.send();
            }
        </script>
		<footer>
			<p></p>
		</footer>
	</body>
</html>